body {
  display: flex;
  background-color: antiquewhite;
}

.board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.front-card {
  width: 5%;
  height: 5%;
}

.back-card {
  width: 5.185%;
  height: 5.185%;
}

/* .front-card,
.back-card {
  position: absolute;
  padding: 20px;
  backface-visibility: hidden; */

.cardbox {
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.cardbox.flip {
  transform: rotateY(180deg);
}
