body {
  font-size: 24px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  margin: 0;
}

.header,
.sidebar-left,
.sidebar-right,
.footer {
  padding: 25px;
}

.main {
  order: 2;
}

.sidebar-left {
  order: 1;
  width: 20%;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar-right {
  width: 30%;
  order: 3;
}

.structure {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightgray;
}

.footer {
  border-top: 3px solid black;
}

.avatar {
  vertical-align: middle;
  float: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.linkedinlogo {
  justify-content: flex-start;
  width: 40.99px;
  height: 40.99px;
}

.banner {
  position: relative;
  top: 0;
  left: 0;
}

.headerpic {
  position: relative;
  top: 0;
  left: 0;
  width: 782px;
  height: 195.5px;
  border-radius: 2%;
}

.profilepic {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 152px;
  height: 152px;
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: whitesmoke;
}
